/* orange/red = #ee3a23 */

body{
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 100%;
  background-color: #EEE;
  box-sizing: border-box;
}

/* HEADER
------------------------------*/
header{
  background: #333;
  color: white;
  padding: 1rem 10%;
}

header img{
  vertical-align: middle;
}

h1{
  font-weight: bold;
  font-size: 1.5rem;
  display: inline;
  margin-left: 15px;
}

/* PLAYER CONTAINER
------------------------------*/
.playContainer{
  width: 80%;
  /*margin: 2rem 3rem;*/
  margin: 2rem auto;
}

.descript{
  color: #666;
  font-size: 1rem;
  margin-top: 0.2rem;
}

h2{
  font-weight: bold;
  color: #4067b2;
  font-size: 1.25rem;
}

ul{
  list-style-type: none;
}

.recentListItems{
  margin: 5% 0;
  background: white;
  padding: 3%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

button:focus{
  outline-color: transparent;
  outline-style: none;
}

.recentListItems button{
  width: 3rem;
  height: 3rem;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

.buttonOff{
  background: white;
}

.buttonOn{
  background: #ee3a23;
}

.showInfo{
  /*display: inline;*/
  width: 85%;
}

.date{
  font-style: italic;
}

.date, .teaser{
  font-size: .667rem;
  color: #666;
}

/* SEARCH SECTION
------------------------------*/
.search{
  background: #748fc6;
  padding: 3% 5%;
  color: white;
}

.search h2{
  margin-bottom: .667rem;
  color: white;
}

.search--input{
  width: 70%;
  height: 3rem;
  border: 0;
  margin:0;
  padding: 0 3%;
}

.submitSearch{
  width: 40%;
  height: 3rem;
  border: 0;
  background: #ee3a23;
  color: white;
  font-weight: bold;
  margin-top: 3%;
  /*margin-left: -0.6%;*/
  display: block;
}

.search li{
  margin: 20px 0;
}

#searchResults .teaser, #searchResults .date{
  color: #EEE;
}
