<!doctype html>
<html ng-app="myApp">

  <head>
    <title>NPR Streaming and Search App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/normalize.css" media="screen">
    <link rel="stylesheet" href="css/master.css" media="screen">
    <meta name="viewport" content="width = device-width">
  </head>

<!-- <body> -->

<header>
  <img src="img/npr.png" alt="NPR logo" width="100px"/>
  <h1>Stream &#x26; Search Application</h1>
</header>

<section class="playContainer">
  <!-- RECENT SHOWS -->
  <div class="">
    <h2>Recent Stories</h2>
    <p class="descript">Here are the most recent stories out of NPR.</p>
    <!-- PLAYER CONTROLLER ELEMENT -->
    <!-- currently showing the most recent show results -->
    <div ng-controller="PlayerController">
      <div id="programs_list" class="" >

        <!-- loop (repeat) through each of the programs... -->
        <!-- make container a flex conatiner -->
        <div class="recentListItems" id="$index" ng-repeat="program in programs">
          <!-- row play button -->
          <button
          ng-class="{'buttonOn': $index == selectedIndex}"
          id="$index"
          ng-click="play(program, $index)">
          &#x25b6;</button>

          <div class="showInfo">
            <!-- <img src={{program.image.src}} alt="" /> -->
            <span>{{ program.title.$text }}</span>

            <div class="">
              <span class="date">{{ program.storyDate.$text }}</span>
              <!-- <span class="date">{{ program.storyDate.$text }}</span> -->
            </div>

            <div class="">
              <span class="teaser">{{ program.teaser.$text}}</span>
            </div>
          </div>
          <!-- end of flex container -->
        </div>
      </div>
    </div>
  </div>
  </section>


  <div class="search" ng-controller="Search">
    <h2>Search Stories</h2>
    <p class="descript">
      Search recent stories by topic.
    </p>

      <!-- CHECKBOXES -->
      <label ng-repeat="topic in topics" class="chkBox">
        <input
           type="checkbox"
           name="selectedTopics[]"
           value="{{topic.name}}"
           ng-model="topic.selected"
         > {{topic.name}}
      </label>

      <button class="submitSearch" type="submit" ng-click="search()">Submit</button>
    </form>

    <!-- SEARCH RESULTS... -->
    <ul id="searchResults">
      <li ng-repeat="result in searchResults">
          {{ result.title.$text }}
          <div class="">
            <span class="date">{{ result.storyDate.$text }}</span>
          </div>
          <div class="">
            <span class="teaser">{{ result.teaser.$text }}</span>
          </div>
      </li>
    </ul>

  <!-- end of search section -->
  </div>




<!-- </body> -->
</html>
