<!doctype html>
<html ng-app="myApp">

  <head>
    <title>NPR Streaming and Search App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/normalize.css" media="screen">
    <link rel="stylesheet" href="css/master.css" media="screen">
  </head>

<!-- <body> -->

<header>
  <h1>NPR Stream &#x26; Search</h1>
</header>

<section class="playContainer">
  <!-- RECENT SHOWS -->
  <div class="">
    <h2>Recent Stories</h2>
    <p class="descript">Here are the most recent stories out of NPR.</p>
    <!-- PLAYER CONTROLLER ELEMENT -->
    <!-- currently showing the most recent show results -->
    <div ng-controller="PlayerController">
      <div id="programs_list" class="" >

        <!-- loop (repeat) through each of the programs... -->
        <!-- make container a flex conatiner -->
        <div class="recentListItems" id="$index" ng-repeat="program in programs">
          <!-- row play button -->
          <button
          ng-class="{ 'buttonOn': $index == selectedIndex }"
          id="$index"
          ng-click="play(program, $index)">
          &#x25b6;</button>

          <div class="showInfo">
            <!-- <img src={{program.image.src}} alt="" /> -->
            <span>{{ program.title.$text }}</span>

            <div class="">
              <span class="date">{{ program.storyDate.$text }}</span>
              <!-- <span class="date">{{ program.storyDate.$text }}</span> -->
            </div>

            <div class="">
              <span class="teaser">{{ program.teaser.$text}}</span>
            </div>
          </div>
          <!-- end of flex container -->
        </div>
      </div>
    </div>
  </div>
  </section>


  <div class="search" ng-controller="Search">
    <h2>Search Stories</h2>

      <!-- CHECKBOXES -->
      <label ng-repeat="topic in topics">
        <input
           type="checkbox"
           name="selectedTopics[]"
           value="{{topic.name}}"
           ng-model="topic.selected"
         > {{topic.name}}
      </label>




      <!-- <input type="checkbox" name="artsLife" value="" ng-model="checkboxModel.value1">
      <label for="artsLife">Arts &#x26; Life</label>

      <input type="checkbox" name="artsLife" value="" ng-model="checkboxModel.value2">
      <label for="artsLife">Economy</label>

      <input type="checkbox" name="artsLife" value="" ng-model="checkboxModel.value3">
      <label for="artsLife">Health</label>

      <input type="checkbox" name="artsLife" value="" ng-model="checkboxModel.value4">
      <label for="artsLife">Science</label>

      <input type="checkbox" name="artsLife" value="" ng-model="checkboxModel.value5">
      <label for="artsLife">Technology</label> -->





      <button class="submitSearch" type="submit" ng-click="search()">Submit</button>
    </form>

    <!-- SEARCH RESULTS... -->
    <ul id="searchResults">
      <li ng-repeat="result in searchResults">
          {{ result.title.$text }}
          <div class="">
            <span class="date">{{ result.storyDate.$text }}</span>
          </div>
          <div class="">
            <span class="teaser">{{ result.teaser.$text }}</span>
          </div>
      </li>
    </ul>

  <!-- end of search section -->
  </div>




<!-- </body> -->
</html>
